layout {

    focus-ring {
        active-color   "#ccc3da"
        inactive-color "#141314"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ccc3da"
        inactive-color "#141314"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ccc3da"
        inactive-color "#4b4558"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ccc3da80"
    }
}

recent-windows {
    highlight {
        active-color "#ccc3da"
        urgent-color "#ffb4ab"
    }
}
