layout {

    focus-ring {
        active-color   "#ffb3b5"
        inactive-color "#1d1010"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb3b5"
        inactive-color "#1d1010"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb3b5"
        inactive-color "#fd5f6f"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb3b580"
    }
}

recent-windows {
    highlight {
        active-color "#ffb3b5"
        urgent-color "#ffb4ab"
    }
}
