layout {

    focus-ring {
        active-color   "#d3bbff"
        inactive-color "#141317"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#d3bbff"
        inactive-color "#141317"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#d3bbff"
        inactive-color "#503c76"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#d3bbff80"
    }
}

recent-windows {
    highlight {
        active-color "#d3bbff"
        urgent-color "#ffb4ab"
    }
}
