// ============================================================================
// STARTUP
// ============================================================================
// Applications and services to launch at startup
spawn-at-startup "systemctl" "--user" "import-environment" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP" "XDG_SESSION_DESKTOP=niri"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP" "XDG_SESSION_DESKTOP=niri"
spawn-sh-at-startup "qs -c noctalia-shell && qs -c noctalia-shell ipc call notifications enableDND"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
