#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    format_tag_separator: " | ",
    browser_column_widths: [20, 38, 42],
    text_color: "#e6e1e7",
    background_color: None,
    modal_background_color: None,
    modal_backdrop: true,
    header_background_color: None,
    preview_label_style: (fg: "#d2bbff"),
    preview_metadata_group_style: (fg: "#d2bbff", modifiers: "Bold"),
    song_table_album_separator: None,
    tab_bar: (
        active_style: (fg: "#141317", bg: "#d2bbff", modifiers: "Bold"),
        inactive_style: (fg: "#cdc1df", modifiers: "Bold"),
    ),
    borders_style: (fg: "#d2bbff"),
    highlighted_item_style: (fg: "#d2bbff", modifiers: "Bold"),
    current_item_style: (fg: "#d2bbff", bg: "#4f3c77", modifiers: "Bold"),
    highlight_border_style: (fg: "#d2bbff"),
    symbols: (song: "󰝚 ", dir: "󱍙 ", playlist: "󰲸 ", marker: "* ", ellipsis: "...",
        song_style: (fg: "#d2bbff"), dir_style: (fg: "#d2bbff"),
    ),
    progress_bar: (
        symbols: ["[", "-", ">", " ", "]"],
        track_style: (fg:"#211f23",bg: None),
        elapsed_style: (fg: "#d2bbff", bg: None),
        thumb_style: (fg: "#d2bbff", bg: None),
        use_track_when_empty: false,
    ),
    scrollbar: (
        symbols: ["┋", "█", "󰄿", "󰄼"],
        track_style: (fg: "#d2bbff"),
        ends_style: (fg: "#eaddfc"),
        thumb_style: (fg: "#d2bbff"),
    ),
    song_table_format: [
        (
         prop: (
            kind: Group([
                (kind: Text(" ")),
                (kind: Property(Artist))
            ]),
            style: (fg: "#d2bbff"),
            default: (kind: Group([(kind: Text(" Unknown Artist"))]))
        ),
            width: "25%",
            label_prop: (kind: Group([
                (kind: Text("Artist "), style: (fg: "#e6e1e7")),
              (kind: Text(" " ), style: (fg: "#d2bbff"))
            ]))
        ),
        (
            prop: (kind: Property(Title), style: (fg: "#fdafd8"),
                default: (kind: Property(Filename), style: (fg: "#e6e1e7"),
                    default: (kind: Text("Unknown Title"), style: (fg: "#e6e1e7")))),
            width: "40%",
            label_prop: (kind: Group([
                (kind: Text("Title "), style: (fg: "#e6e1e7")),
                (kind: Text(" "), style: (fg: "#d2bbff"))
            ]))
        ),
        (
            prop: (kind: Property(Album), style: (fg: "#d2bbff"),
                default: (kind: Text("Unknown Album"))),
            width: "25%",
            label_prop: (kind: Group([
                (kind: Text("Album "), style: (fg: "#e6e1e7")),
                (kind: Text("󰀥 "), style: (fg: "#d2bbff"))
            ]))
        ),
        (
            prop: (kind: Property(Duration), style: ( fg: "#fdafd8"),
                default: (kind: Text("-"))),
            width: "10%",
            alignment: Right,
            label_prop: (kind: Group([
                (kind: Text("Length "), style: (fg: "#e6e1e7")),
                (kind: Text(" "), style: (fg: "#d2bbff"))
            ]))
        ),
    ],
    layout: Split(
        direction: Vertical, panes: [
            (size: "6", borders: "NONE", pane: Component("header")),
            (size: "100%", borders: "NONE", pane: Pane(TabContent)),
            (size: "1", borders: "NONE", pane: Component("progress_bar")),
        ]),
    browser_song_format: [
        (kind: Group([
                    (kind: Property(Track)),
                    (kind: Text(" ")),
                ])),
        (kind: Group([
                    (kind: Property(Artist)),
                    (kind: Text(" - ")),
                    (kind: Property(Title)),
                ]), default: (kind: Property(Filename)))
    ],
    level_styles: (
        info: (fg: "#d2bbff", bg: "#141317"),
        warn: (fg: "#fdafd8", bg: "#141317"),
        error: (fg: "#ffb4ab", bg: "#141317"),
        debug: (fg: "#cdc1df", bg: "#141317"),
        trace: (fg: "#6d3355", bg: "#141317"),
    ),
    components: {
        "header_line_0": Split(direction: Horizontal, panes: [
                    (size: "12%", borders: "NONE", pane: Component("tab_bar_left")),
                    (size: "76%", borders: "NONE", pane: Pane(Tabs)),
                    (size: "12%", borders: "NONE", pane: Component("tab_bar_right")),
            ]),
        "header_line_1": Split(direction: Horizontal, panes: [
                            (size: "26%", pane: Component("header_element_1")),
                            (size: "48%", pane: Component("header_element_2")),
                            (size: "26%", pane: Component("header_element_3")),
                            (size: "2", pane: Component("header_element_right_end")),
            ]),
        "header_line_2": Split(direction: Horizontal, panes: [
                            (size: "26%", pane: Component("header_element_4")),
                            (size: "48%", pane: Component("header_element_5")),
                            (size: "26%", pane: Component("header_element_6")),
                            (size: "2", pane: Component("header_element_right_end")),
            ]),
        "header": Split(
            direction: Vertical, panes: [
                (size: "2", borders: "TOP | RIGHT | LEFT", border_symbols: Rounded,
                    pane: Split(direction: Horizontal, panes: [
                        (size: "100%", borders: "NONE", pane: Component("header_line_0")),
                  ])
                ),
                (size: "4", borders: "ALL", border_symbols: Library("rounded_collapsed_top"),
                  pane: Split(direction: Vertical, panes: [
                     (size: "100%", borders: "NONE", pane: Component("header_line_1")),
                     (size: "100%", borders: "NONE", pane: Component("header_line_2")),
                  ])
                ),
            ]
        ),
        "progress_bar": Split(
            direction: Vertical, panes: [
              (size: "3", borders: "NONE", border_symbols: Rounded ,
                  pane: Split(direction: Vertical, panes: [
                      (size: "100%", borders: "NONE",pane: Pane(ProgressBar)),
                ])
              ),
            ]
        ),
        "tab_bar_left": Split(direction: Horizontal, panes: [
             (size: "100%", pane: Pane(Property(content: [
                             (kind: Text(" "), style: (fg: "#d2bbff", modifiers: "Bold")),
                             (kind: Property(Status(StateV2(playing_label: "", paused_label: "", stopped_label: ""))),
                                 style: (fg: "#e6e1e7")),
                             (kind: Text("  "), style: (fg: "#d2bbff", modifiers: "Bold")),
                             (kind: Property(Song(FileExtension)), style: (fg: "#cdc1df")),
                             (kind: Text(" ")),
                             (kind: Property(Widget(ScanStatus)), style: (fg: "#e6e1e7", modifiers: "Bold")),
                             (kind: Text(" ")),
                             (kind: Property(Status(InputBuffer())), style: (fg: "#cdc1df")),
                         ], align: Left))
             ),
            ]),
        "tab_bar_right": Split(direction: Horizontal, panes: [
                 (size: "100%", pane: Pane(Property(content: [
                                 (kind: Text(" 󱡬"), style: (fg: "#d2bbff", modifiers: "Bold")),
                                 (kind: Property(Status(Volume)), style: (fg: "#e6e1e7")),
                                 (kind: Text("% "), style: (fg: "#d2bbff", modifiers: "Bold"))
                             ], align: Right))
                 ),
            ]),
        "header_element_1": Split(
            direction: Horizontal,
            panes: [
               (size: "100%", pane: Pane(Property(content: [
                               (kind: Text("[ "),style: (fg: "#d2bbff", modifiers: "Bold")),
                               (kind: Property(Status(Elapsed)),style: (fg: "#e6e1e7")),
                               (kind: Text(" 󱦟 "),style: (fg: "#d2bbff", modifiers: "Bold")),
                               (kind: Property(Status(Duration)),style: (fg: "#e6e1e7")),
                               (kind: Text(" ]"),style: (fg: "#d2bbff", modifiers: "Bold")),
                           ], align: Left))
               ),
            ]
        ),
        "header_element_2": Split(
            direction: Horizontal,
            panes: [
                (size: "100%", pane: Pane(Property(content: [
                                (kind: Property(Song(Title)), style: (fg: "#e6e1e7",modifiers: "Bold"),
                                    default: (kind: Property(Song(Filename)), style: (fg: "#e6e1e7",modifiers: "Bold"),
                                        default: (kind: Text("Unknown Title"), style: (fg: "#e6e1e7",modifiers: "Bold"))))
                            ], align: Center))
                ),
            ]
        ),
        "header_element_3": Split(
            direction: Horizontal,
            panes: [
               (size: "100%", pane: Pane(Property(content: [
                         (kind: Text("[ "),style: (fg: "#d2bbff", modifiers: "Bold")),
                          (kind: Property(Status(RepeatV2(on_label: " ", off_label: " ",
                                         on_style: (fg: "#e6e1e7", modifiers: "Bold"),
                                         off_style: (fg: "#cdc1df", modifiers: "Bold"))))),
                         (kind: Text(" | "),style: (fg: "#d2bbff", modifiers: "Bold")),
                          (kind: Property(Status(RandomV2(on_label: "", off_label: "",
                                         on_style: (fg: "#e6e1e7", modifiers: "Bold"),
                                         off_style: (fg: "#cdc1df", modifiers: "Bold"))))),
                         (kind: Text(" | "),style: (fg: "#d2bbff", modifiers: "Bold")),
                         (kind: Property(Status(ConsumeV2(on_label: "󰮯", off_label: "󰮯", oneshot_label: "󰮯 󰇊",
                                         on_style: (fg: "#e6e1e7", modifiers: "Bold"),
                                         off_style: (fg: "#cdc1df", modifiers: "Bold"))))),
                         (kind: Text(" | "),style: (fg: "#d2bbff", modifiers: "Bold")),
                         (kind: Property(Status(SingleV2(on_label: "󰎤 ", off_label: "󰎦 ", oneshot_label: "󰇊 ", off_oneshot_label: "󱅊 ",
                                         on_style: (fg: "#e6e1e7", modifiers: "Bold"),
                                         off_style: (fg: "#cdc1df", modifiers: "Bold"))))),
                         (kind: Text(" | "),style: (fg: "#d2bbff", modifiers: "Bold")),
                         (kind: Property(Status(Crossfade)),style: (fg: "#cdc1df"),
                          default: (kind: Text("󰴽 "), style: (fg: "#cdc1df"))),
                     ], align: Right))
               ),
            ]
        ),
        "header_element_4": Split(
            direction: Horizontal,
            panes: [
                 (size: "100%", pane: Pane(Property(content: [
                                 (kind: Text("[ "),style: (fg: "#d2bbff", modifiers: "Bold")),
                                 (kind: Property(Status(QueueTimeRemaining(separator: " "))),style: (fg: "#e6e1e7")),
                                 (kind: Text(" 󱎫  "),style: (fg: "#d2bbff", modifiers: "Bold")),
                                 (kind: Property(Status(QueueTimeTotal(separator: " "))),style: (fg: "#e6e1e7")),
                                  (kind: Text(" ]"),style: (fg: "#d2bbff", modifiers: "Bold"))
                             ], align: Left))
                 ),
            ]
        ),
        "header_element_5": Split(
            direction: Horizontal,
            panes: [
                 (size: "100%", pane: Pane(Property(content: [
                                 (kind: Property(Song(Artist)), style: (fg: "#d2bbff"),
                                     default: (kind: Text("Unknown Artist"))),
                                 (kind: Text("  "), style: (fg: "#e6e1e7")),
                                 (kind: Property(Song(Album)),style: (fg: "#d2bbff" ),
                                     default: (kind: Text("Unknown Album"), style: (fg: "#d2bbff")))
                             ], align: Center))
                 ),
            ]
        ),
        "header_element_6": Split(
            direction: Horizontal,
            panes: [
                   (size: "100%", pane: Pane(Property(content: [
                                   (kind: Text("[ "),style: (fg: "#d2bbff", modifiers: "Bold")),
                                   (kind: Property(Song(Other("genre"))),style: (fg: "#e6e1e7"),
                                       default: (kind: Text("Unknown Genre"), style: (fg: "#6d3355"))),
                               ], align: Right))
                   ),
            ]
        ),
        "header_element_right_end": Split(
            direction: Horizontal,
            panes: [
               (size: "100%", pane: Pane(Property(content: [
                               (kind: Text(" ]"),style: (fg: "#d2bbff", modifiers: "Bold")),
                           ], align: Right))
               ),
            ]
        ),
    },
    cava: (
        bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
        bar_width: 1, bar_spacing: 1,
        bg_color: None,
        bar_color: Gradient({
            0: "#4f3c77",
            33: "#d2bbff",
            67: "#fdafd8",
            100: "#eaddff",
            })
    ),
    lyrics:(timestamp: false),
    border_symbol_sets: {
    "rounded_collapsed_top": (
        parent: Rounded,
        top_left: "├",
        top_right: "┤",
        ),
    },
)


