#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    format_tag_separator: " | ",
    browser_column_widths: [20, 38, 42],
    background_color: "{{colors.surface.default.hex}}",
    modal_backdrop: true,
    text_color: "{{colors.on_surface.default.hex}}",
    header_background_color: "{{colors.surface.default.hex}}",
    modal_background_color: "{{colors.surface.default.hex}}",
    preview_label_style: (fg: "{{colors.tertiary_container.default.hex}}"),
    preview_metadata_group_style: (fg: "{{colors.primary.default.hex}}"),
    song_table_album_separator: None,
    tab_bar: (
        active_style: (fg: "{{colors.surface.default.hex}}", bg: "{{colors.primary.default.hex}}", modifiers: "Bold"),
        inactive_style: (fg: "{{colors.secondary.default.hex}}", bg: "{{colors.surface.default.hex}}"),
    ),
    highlighted_item_style: (fg: "{{colors.secondary.default.hex}}", modifiers: "Bold"),
    current_item_style: (fg: "{{colors.surface.default.hex}}", bg: "{{colors.primary.default.hex}}", modifiers: "Bold"),
    borders_style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold"),
    highlight_border_style: (fg: "{{colors.primary.default.hex}}"),
    symbols: (song: "󰝚 ", dir: "󱍙 ", playlist: "󰲸 ", marker: "* ", ellipsis: "...",
        song_style: (fg: "{{colors.primary.default.hex}}"), dir_style: (fg: "{{colors.primary.default.hex}}"),
    ),
    progress_bar: (
        symbols: ["", "█", "", "█", "" ],
        track_style: (fg: "{{colors.surface_container.default.hex}}", bg: "{{colors.surface.default.hex}}"),
        elapsed_style: (fg: "{{colors.primary.default.hex}}", bg: "{{colors.surface.default.hex}}"),
        thumb_style: (fg: "{{colors.primary.default.hex}}", bg: "{{colors.surface_container.default.hex}}"),
        use_track_when_empty: false,
    ),
    scrollbar: (
        symbols: ["┋", "█", "󰄿", "󰄼"],
        track_style: (fg: "{{colors.primary.default.hex}}"),
        ends_style: (fg: "{{colors.primary.default.hex}}"),
        thumb_style: (fg: "{{colors.primary.default.hex}}"),
    ),
    song_table_format: [

        (

        prop: (kind: Transform(Replace(content: (kind: Sticker("rating")), replacements: [

            (match:  "0", replace: (kind: Group([(kind: Text("󰎡"),style: (fg: "{{colors.primary.default.hex}}"))]))),

            (match:  "1", replace: (kind: Group([(kind: Text("󰎤"),style: (fg: "{{colors.primary.default.hex}}"))]))),

            (match:  "2", replace: (kind: Group([(kind: Text("󰎧"),style: (fg: "{{colors.primary.default.hex}}"))]))),

            (match:  "3", replace: (kind: Group([(kind: Text("󰎪"),style: (fg: "{{colors.primary.default.hex}}"))]))),

            (match:  "4", replace: (kind: Group([(kind: Text("󰎭"),style: (fg: "{{colors.primary.default.hex}}"))]))),

            (match:  "5", replace: (kind: Group([(kind: Text("󰎱"),style: (fg: "{{colors.primary.default.hex}}"))]))),

            (match:  "6", replace: (kind: Group([(kind: Text("󰎳"),style: (fg: "{{colors.primary.default.hex}}"))]))),

            (match:  "7", replace: (kind: Group([(kind: Text("󰎶"),style: (fg: "{{colors.primary.default.hex}}"))]))),

            (match:  "8", replace: (kind: Group([(kind: Text("󰎹"),style: (fg: "{{colors.primary.default.hex}}"))]))),

            (match:  "9", replace: (kind: Group([(kind: Text("󰎼"),style: (fg: "{{colors.primary.default.hex}}"))]))),

            (match: "10", replace: (kind: Group([(kind: Text("󰽽"),style: (fg: "{{colors.primary.default.hex}}"))]))),

        ])), default: (kind: Text(""), style: (fg: "{{colors.primary_container.default.hex}}"))),

        width: "3",

        label: "Rating",

        alignment: Center,

            label_prop: (kind: Group([

                (kind: Text("󰩳"), style: (fg: "{{colors.primary.default.hex}}")),

            ]))

        ),

        (

            prop: (kind: Sticker("playCount"),style: (fg: "{{colors.primary.default.hex}}"),

                 default: (kind: Text(""), style: (fg: "{{colors.primary_container.default.hex}}"))),

            width: "3",

            alignment: Left,

            label: "Playcount",

            label_prop: (kind: Group([

                (kind: Text("󰆙"), style: (fg: "{{colors.primary.default.hex}}")),

            ]))

        ),

        (

            prop:(kind: Text("│"), style: (fg: "{{colors.primary.default.hex}}")),

            width: "1",

            alignment: Center,

            label: "",

            label_prop: (kind: Group([

                (kind: Text("│"), style: (fg: "{{colors.primary.default.hex}}")),

            ]))

        ),

        (

            prop: (kind: Property(Artist), style: (fg: "{{colors.primary.default.hex}}"),

                default: (kind: Text("Unknown Artist"), style: (fg: "{{colors.tertiary_container.default.hex}}"))),

            width: "23%",

            label_prop: (kind: Group([

                (kind: Text("Artist "), style: (fg: "{{colors.on_surface.default.hex}}")),

                (kind: Text(""), style: (fg: "{{colors.primary.default.hex}}"))

            ]))

        ),

        (

            prop: (kind: Property(Title), style: (fg: "{{colors.tertiary.default.hex}}"),

                default: (kind: Property(Filename), style: (fg: "{{colors.on_surface.default.hex}}"),

                    default: (kind: Text("Unknown Title"), style: (fg: "{{colors.on_surface.default.hex}}")))),

            width: "36%",

            label_prop: (kind: Group([

                (kind: Text("Title "), style: (fg: "{{colors.on_surface.default.hex}}")),

                (kind: Text(""), style: (fg: "{{colors.primary.default.hex}}"))

            ]))

        ),

        (

            prop: (kind: Property(Album), style: (fg: "{{colors.primary.default.hex}}"),

                default: (kind: Text("Unknown Album"), style: (fg: "{{colors.tertiary_container.default.hex}}"))),

            width: "33%",

            label_prop: (kind: Group([

                (kind: Text("Album "), style: (fg: "{{colors.on_surface.default.hex}}")),

                (kind: Text("󰀥"), style: (fg: "{{colors.primary.default.hex}}"))

            ]))

        ),

        (

            prop: (kind: Property(Duration), style: (fg: "{{colors.tertiary.default.hex}}"),

                default: (kind: Text("-"))),

            width: "8%",

            alignment: Right,

            label_prop: (kind: Group([

                (kind: Text("Length "), style: (fg: "{{colors.on_surface.default.hex}}")),

                (kind: Text(" "), style: (fg: "{{colors.primary.default.hex}}"))

            ]))

        ),

    ],
    layout: Split(
        direction: Vertical, panes: [
            (size: "7", borders: "NONE", pane: Component("header")),
            (size: "100%", borders: "NONE", pane: Pane(TabContent)),
            (size: "3", borders: "NONE", pane: Component("progress_bar")),
        ]),
    browser_song_format: [
        (kind: Group([
                    (kind: Property(Track)),
                    (kind: Text(" ")),
                ])),
        (kind: Group([
                    (kind: Property(Artist)),
                    (kind: Text(" - ")),
                    (kind: Property(Title)),
                ]), default: (kind: Property(Filename)))
    ],
    level_styles: (
        info:  (fg: "{{colors.secondary.default.hex}}", bg: "{{colors.surface.default.hex}}"),
        warn:  (fg: "{{colors.tertiary.default.hex}}", bg: "{{colors.surface.default.hex}}"),
        error: (fg: "{{colors.error.default.hex}}", bg: "{{colors.surface.default.hex}}"),
        debug: (fg: "{{colors.tertiary.default.hex}}", bg: "{{colors.surface.default.hex}}"),
        trace: (fg: "{{colors.tertiary_container.default.hex}}", bg: "{{colors.surface.default.hex}}"),
    ),
    components: {
        "header_line_0": Split(direction: Horizontal, panes: [
                    (size: "12%", borders: "NONE", pane: Component("tab_bar_left")),
                    (size: "76%", borders: "NONE", pane: Pane(Tabs)),
                    (size: "12%", borders: "NONE", pane: Component("tab_bar_right")),
            ]),
        "header_line_1": Split(direction: Horizontal, panes: [
                            (size: "26%", pane: Component("header_element_1")),
                            (size: "48%", pane: Component("header_element_2")),
                            (size: "26%", pane: Component("header_element_3")),
                            (size: "2", pane: Component("header_element_right_end")),
            ]),
        "header_line_2": Split(direction: Horizontal, panes: [
                            (size: "26%", pane: Component("header_element_4")),
                            (size: "48%", pane: Component("header_element_5")),
                            (size: "26%", pane: Component("header_element_6")),
                            (size: "2", pane: Component("header_element_right_end")),
            ]),
        "header_line_3": Split(direction: Horizontal, panes: [
                            (size: "26%", pane: Component("header_element_7")),
                            (size: "48%", pane: Component("header_element_8")),
                            (size: "26%", pane: Component("header_element_9")),
                            (size: "2", pane: Component("header_element_right_end")),

            ]),
        "header": Split(
            direction: Vertical, panes: [
                (size: "2", borders: "TOP | RIGHT | LEFT", border_symbols: Rounded,
                    pane: Split(direction: Horizontal, panes: [
                        (size: "100%", borders: "NONE", pane: Component("header_line_0")),
                  ])
                ),
                (size: "5", borders: "ALL", border_symbols: Library("rounded_collapsed_top"),
                  pane: Split(direction: Vertical, panes: [
                     (size: "100%", borders: "NONE", pane: Component("header_line_1")),
                     (size: "100%", borders: "NONE", pane: Component("header_line_2")),
                     (size: "100%", borders: "NONE", pane: Component("header_line_3")),
                  ])
                ),
            ]
        ),
        "progress_bar": Split(
            direction: Vertical, panes: [
              (size: "3", borders: "ALL", border_symbols: Rounded ,
                  border_title: [
                         (kind: Property(Status(Elapsed)),style: (fg: "{{colors.on_surface.default.hex}}")),
                         (kind: Property(Status(StateV2(playing_label: "─󱦟─", paused_label: "  ", stopped_label: "  "))),
                             style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                         (kind: Property(Status(Duration)),style: (fg: "{{colors.on_surface.default.hex}}"))
                      ],
                  border_title_position: Top,
                  border_title_alignment: Center,
                  pane: Split(direction: Vertical, panes: [
                      (size: "100%", borders: "NONE",pane: Pane(ProgressBar)),
                ])
              ),
            ]
        ),
        "tab_bar_left": Split(direction: Horizontal, panes: [
             (size: "100%", pane: Pane(Property(content: [
                             (kind: Text(" "), style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                             (kind: Property(Status(StateV2(playing_label: "", paused_label: "", stopped_label: ""))),
                                 style: (fg: "{{colors.on_surface.default.hex}}")),
                             (kind: Text("  "), style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                             (kind: Property(Song(FileExtension)), style: (fg: "{{colors.secondary.default.hex}}")),
                             (kind: Text(" ")),
                             (kind: Property(Widget(ScanStatus)), style: (fg: "{{colors.on_surface.default.hex}}", modifiers: "Bold")),
                             (kind: Text(" ")),
                             (kind: Property(Status(InputBuffer())), style: (fg: "{{colors.secondary.default.hex}}")),
                         ], align: Left))
             ),
            ]),
        "tab_bar_right": Split(direction: Horizontal, panes: [
                 (size: "100%", pane: Pane(Property(content: [
                                 (kind: Transform(Replace(content: (kind: Property(Status(Partition)), style: (fg: "{{colors.secondary.default.hex}}")), replacements: [
                                     (match:  "default", replace: (kind: Group([(kind: Text(""))]))),
                                   ]))),
                                 (kind: Text(" ")),
                                 (kind: Property(Song(Channels())), style: (fg: "{{colors.secondary.default.hex}}"),
                                     default: (kind: Text("0"), style: (fg: "{{colors.secondary.default.hex}}"))),
                                 (kind: Text(" 󱡫 "),style: (fg: "{{colors.secondary.default.hex}}")),
                                 (kind: Text(" 󱡬"), style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                                 (kind: Property(Status(Volume)), style: (fg: "{{colors.on_surface.default.hex}}")),
                                 (kind: Text("% "), style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold"))
                             ], align: Right))
                 ),
            ]),
        "header_element_1": Split(
            direction: Horizontal,
            panes: [
               (size: "100%", pane: Pane(Property(content: [
                               (kind: Text("[ "),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                               (kind: Property(Status(Elapsed)),style: (fg: "{{colors.on_surface.default.hex}}")),
                               (kind: Text(" / "),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                               (kind: Property(Status(Duration)),style: (fg: "{{colors.on_surface.default.hex}}")),
                               (kind: Text(" 󱦟"),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                               (kind: Text(" ]"),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                           ], align: Left))
               ),
            ]
        ),
        "header_element_2": Split(
            direction: Horizontal,
            panes: [
                (size: "100%", pane: Pane(Property(content: [
                                (kind: Property(Song(Title)), style: (fg: "{{colors.on_surface.default.hex}}",modifiers: "Bold"),
                                    default: (kind: Property(Song(Filename)), style: (fg: "{{colors.on_surface.default.hex}}",modifiers: "Bold"),
                                        default: (kind: Text("Unknown Title"), style: (fg: "{{colors.on_surface.default.hex}}",modifiers: "Bold"))))
                            ], align: Center))
                ),
            ]
        ),
        "header_element_3": Split(
            direction: Horizontal,
            panes: [
               (size: "100%", pane: Pane(Property(content: [
                         (kind: Text("[ "),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                         (kind: Property(Status(RepeatV2(on_label: "", off_label: "",
                                         on_style: (fg: "{{colors.on_surface.default.hex}}", modifiers: "Bold"),
                                         off_style: (fg: "{{colors.secondary.default.hex}}", modifiers: "Bold"))))),
                         (kind: Text(" | "),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                         (kind: Property(Status(RandomV2(on_label: "", off_label: "",
                                         on_style: (fg: "{{colors.on_surface.default.hex}}", modifiers: "Bold"),
                                         off_style: (fg: "{{colors.secondary.default.hex}}", modifiers: "Bold"))))),
                         (kind: Text(" | "),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                         (kind: Property(Status(ConsumeV2(on_label: "󰮯", off_label: "󰮯", oneshot_label: "󰮯󰇊",
                                         on_style: (fg: "{{colors.on_surface.default.hex}}", modifiers: "Bold"),
                                         off_style: (fg: "{{colors.secondary.default.hex}}", modifiers: "Bold"))))),
                         (kind: Text(" | "),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                         (kind: Property(Status(SingleV2(on_label: "󰎤", off_label: "󰎦", oneshot_label: "󰇊", off_oneshot_label: "󱅊",
                                         on_style: (fg: "{{colors.on_surface.default.hex}}", modifiers: "Bold"),
                                         off_style: (fg: "{{colors.secondary.default.hex}}", modifiers: "Bold"))))),
                         (kind: Text(" | "),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                         (kind: Property(Status(Crossfade)),style: (fg: "{{colors.secondary.default.hex}}"),
                          default: (kind: Text("󰴽"), style: (fg: "{{colors.secondary.default.hex}}"))),
                         (kind: Text(" | "),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                         (kind: Transform(Replace(content: (kind: Property(Status(InputMode()))), replacements: [
                                 (match:  "Normal", replace: (kind: Group([(kind: Text("N"),style: (fg: "{{colors.secondary.default.hex}}", modifiers: "Bold"))]))),
                                 (match:  "Insert", replace: (kind: Group([(kind: Text("I"),style: (fg: "{{colors.on_surface.default.hex}}", modifiers: "Bold"))]))),
                                 (match:  "Visual", replace: (kind: Group([(kind: Text("V"),style: (fg: "{{colors.on_surface.default.hex}}", modifiers: "Bold"))]))),
                                 (match:  "Command", replace: (kind: Group([(kind: Text("C"),style: (fg: "{{colors.on_surface.default.hex}}", modifiers: "Bold"))]))),
                             ]))),
                     ], align: Right))
               ),
            ]
        ),
        "header_element_4": Split(
            direction: Horizontal,
            panes: [
                (size: "100%", pane: Pane(Property(content: [
                                (kind: Text("[ "),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                                (kind: Property(Song(Bits())),default: (kind: Text(" "), style: (fg: "{{colors.on_surface.default.hex}}")), style: (fg: "{{colors.on_surface.default.hex}}")),
                                (kind: Text(" bit"),style: (fg: "{{colors.primary.default.hex}}")),
                                (kind: Text(" | "),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                                (kind: Property(Status(Bitrate)),default: (kind: Text(" "), style: (fg: "{{colors.on_surface.default.hex}}")),style: (fg: "{{colors.on_surface.default.hex}}")),
                                (kind: Text(" kbps"),style: (fg: "{{colors.primary.default.hex}}")),
                                (kind: Text(" ]"),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold"))
                            ], align: Left))
                ),
            ]
        ),
        "header_element_5": Split(
            direction: Horizontal,
            panes: [
                 (size: "100%", pane: Pane(Property(content: [
                                 (kind: Property(Song(Artist)), style: (fg: "{{colors.tertiary.default.hex}}"),
                                     default: (kind: Text("Unknown Artist"), style: (fg: "{{colors.tertiary.default.hex}}"))),
                                 (kind: Text(" - "), style: (fg: "{{colors.on_surface.default.hex}}")),
                                 (kind: Property(Song(Album)),style: (fg: "{{colors.primary.default.hex}}" ),
                                     default: (kind: Text("Unknown Album"), style: (fg: "{{colors.primary.default.hex}}")))
                             ], align: Center))
                 ),
            ]
        ),
        "header_element_6": Split(
            direction: Horizontal,
            panes: [
                 (size: "100%", pane: Pane(Property(content: [
                                 (kind: Text("[ "),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                                 (kind: Property(Status(QueueTimeRemaining(separator: " "))),style: (fg: "{{colors.on_surface.default.hex}}")),
                                 (kind: Text(" / "),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                                 (kind: Property(Status(QueueTimeTotal(separator: " "))),style: (fg: "{{colors.on_surface.default.hex}}")),
                                 (kind: Text(" 󱎫"),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                             ], align: Right))
                 ),
            ]
        ),
        "header_element_7": Split(
            direction: Horizontal,
            panes: [
                  (size: "100%", pane: Pane(Property(content: [
                                  (kind: Text("[ "),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                                  (kind: Property(Song(SampleRate())),default: (kind: Text(" "), style: (fg: "{{colors.on_surface.default.hex}}")), style: (fg: "{{colors.on_surface.default.hex}}")),
                                  (kind: Text(" Hz"),style: (fg: "{{colors.primary.default.hex}}")),
                                  (kind: Text(" | "),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                                  (kind: Property(Song(Position)), style: (fg: "{{colors.on_surface.default.hex}}"),
                                      default: (kind: Text("0"), style: (fg: "{{colors.on_surface.default.hex}}"))),
                                  (kind: Text(" / "),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                                  (kind: Property(Status(QueueLength())),style: (fg: "{{colors.on_surface.default.hex}}")),
                                  (kind: Text(" 󰴍"),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                                  (kind: Text(" ]"),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold"))
                              ], align: Left))
                  ),
            ]
        ),
        "header_element_8": Split(
            direction: Horizontal,
            panes: [
                   (size: "100%", pane: Pane(Property(content: [
                                   (kind: Property(Song(Other("albumartist"))),style: (fg: "{{colors.secondary.default.hex}}"),
                                       default: (kind: Text("Unknown Albumartist"), style: (fg: "{{colors.secondary.default.hex}}"))),
                                   (kind: Text(" - "), style: (fg: "{{colors.secondary.default.hex}}")),
                                   (kind: Property(Song(Other("composer"))),style: (fg: "{{colors.secondary.default.hex}}"),
                                       default: (kind: Text("Unknown Composer"), style: (fg: "{{colors.secondary.default.hex}}"))),
                               ], align: Center))
                   ),
            ]
        ),
        "header_element_9": Split(
            direction: Horizontal,
            panes: [
                   (size: "100%", pane: Pane(Property(content: [
                                   (kind: Text("[ "),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                                   (kind: Property(Song(Other("date"))),style: (fg: "{{colors.on_surface.default.hex}}"),
                                       default: (kind: Text("Unknown Date"), style: (fg: "{{colors.secondary.default.hex}}"))),
                                   (kind: Text(" | "),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                                   (kind: Property(Song(Track)),style: (fg: "{{colors.on_surface.default.hex}}"),
                                       default: (kind: Text("0"), style: (fg: "{{colors.secondary.default.hex}}"))),
                                   (kind: Text(" / "),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                                   (kind: Property(Song(Disc)),style: (fg: "{{colors.on_surface.default.hex}}"),
                                       default: (kind: Text("0"), style: (fg: "{{colors.secondary.default.hex}}"))),
                                   (kind: Text(" 󰥠 | "),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                                   (kind: Property(Song(Other("genre"))),style: (fg: "{{colors.on_surface.default.hex}}"),
                                       default: (kind: Text("Unknown Genre"), style: (fg: "{{colors.secondary.default.hex}}"))),
                               ], align: Right))
                   ),
            ]
        ),
        "header_element_right_end": Split(
            direction: Horizontal,
            panes: [
               (size: "100%", pane: Pane(Property(content: [
                               (kind: Text(" ]"),style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                           ], align: Right))
               ),
            ]
        ),
    },
    cava: (
        bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
        bar_width: 1, bar_spacing: 1,
        bg_color: "{{colors.surface.default.hex}}",
        bar_color: Gradient({
                0:   "{{colors.primary_container.default.hex}}",
                33:  "{{colors.primary.default.hex}}",
                67:  "{{colors.tertiary.default.hex}}",
                100: "{{colors.on_primary_container.default.hex}}",
            })
    ),
    lyrics:(timestamp: false),
    border_symbol_sets: {
    "rounded_collapsed_top": (
        parent: Rounded,
        top_left: "├",
        top_right: "┤",
        ),
    },
)
