#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

(
    //default_album_art_path: "~/Downloads/Untitled design.png",
    show_song_table_header: false,
    draw_borders: true,
    format_tag_separator: " | ",
    browser_column_widths: [33, 33, 33],
    background_color: "{{colors.surface.default.hex}}",
    text_color: None,
    header_background_color: None,
    modal_background_color: None,
    modal_backdrop: false,
    preview_label_style: (fg: "{{colors.primary.default.hex}}"),
    preview_metadata_group_style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold"),
    tab_bar: (
        active_style: (fg: "{{colors.on_primary.default.hex}}", bg: "{{colors.primary.default.hex}}", modifiers: "Bold"),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold"),
    current_item_style: (fg: "{{colors.on_primary.default.hex}}", bg: "{{colors.primary.default.hex}}", modifiers: "Bold"),
    borders_style: (fg: "{{colors.outline.default.hex}}"),
    highlight_border_style: (fg: "{{colors.primary.default.hex}}"),
    symbols: (
        song: " ",
        dir: " ",
        playlist: "󰲸 ",
        marker: " ",
        ellipsis: "...",
        song_style: None,
        dir_style: None,
        playlist_style: None,
    ),
    level_styles: (
        info: (fg: "{{colors.primary.default.hex}}", bg: "{{colors.surface.default.hex}}"),
        warn: (fg: "{{colors.tertiary.default.hex}}", bg: "{{colors.surface.default.hex}}"),
        error: (fg: "{{colors.error.default.hex}}", bg: "{{colors.surface.default.hex}}"),
        debug: (fg: "{{colors.secondary.default.hex}}", bg: "{{colors.surface.default.hex}}"),
        trace: (fg: "{{colors.tertiary_container.default.hex}}", bg: "{{colors.surface.default.hex}}"),
    ),
    progress_bar: (
        symbols: ["", "█", "", "█", "" ],
        track_style: (fg: "{{colors.surface_variant.default.hex}}"),
        elapsed_style: (fg: "{{colors.primary.default.hex}}"),
        thumb_style: (fg: "{{colors.secondary.default.hex}}", bg: "{{colors.surface.default.hex}}"),
        use_track_when_empty: false,
    ),
    scrollbar: (
        symbols: [" ", " ", " ", " "],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "{{colors.tertiary.default.hex}}"),
    ),
    cava: (
        // symbols that will be used to draw the bar in the visualiser, in ascending order of
        // fill fraction
        bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
        // similar to bar_symbols but these are used for the top-down rendering, meaning for orientation
        // "Horizontal" and "Top"
        inverted_bar_symbols: ['▔', '🮂', '🮃', '▀', '🮄', '🮅', '🮆', '█'],

        bar_width: 1, // width of a single bar in columns
        bar_spacing: 1, // free space between bars in columns

        // Possible values are "Top", "Bottom" and "Horizontal". Top makes the bars go from top to
        // bottom, "Bottom" is from bottom up, and "Horizontal" is split in the middle with bars going
        // both down and up from there.
        // Using non-default symbols with "Top" and "Horizontal" may produce undesired output.
        orientation: Bottom,

        // A simple color gradient. This is a map where keys are percent values of the height
        // where the color starts. After that it is linearly interpolated towards the next value.
        // In this example, the color will start at green for the lowest amplitudes, go towards
        // blue at half amplitudes and finishing as red for the highest values. Keys must be between
        // 0 and 100 and if the first or last key are not 0 and 100 respectively, the lowest and highest
        // value will be used as 0 and 100. Only hex and RGB colors are supported here and your terminal
        // must support them as well!
        bar_color: Gradient({
            0: "{{colors.secondary.default.hex}}",
            50: "{{colors.primary.default.hex}}",
            100: "{{colors.tertiary.default.hex}}",
        }
    )
    ),
    song_table_format: [
        (
            prop: (
                kind: Group([
                    (kind: Text(" ")),
                    (kind: Sticker("playCount"), default: (kind: Text("-"))),
                ]),
            ),
            width: "3",
        ),
        (
            prop: (
                kind: Group([
                    (kind: Text(" ")),
                    (kind: Property(Artist))
                ]),
            ),
            width: "30%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width: "70%",
        ),
    ],
components: {
        "custom_song_table_header": Split(borders: "NONE", direction: Horizontal, panes: [
                (size: "4", pane: Pane(Property(content: [
                        (kind: Text(""), style: (fg: "{{colors.primary.default.hex}}")),
                    ], align: Left))
                ),
                (size: "30%", pane: Pane(Property(content: [
                        (kind: Text(" Artist "), style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                        (kind: Text(""), style: (fg: "{{colors.primary.default.hex}}"))
                    ], align: Left))
                ),
                (size: "31%", pane: Pane(Property(content: [
                        (kind: Text("Track "), style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold")),
                        (kind: Text(""), style: (fg: "{{colors.primary.default.hex}}"))
                    ], align: Left))
                ),
            ]),
        "song_info": Split(direction: Vertical, panes: [
            (size: "70%", pane: Split(direction: Vertical, panes: [
        
            ]))
        ]),
        "custom-header": Split(direction: Horizontal, panes: [
            (size: "18%", pane: Split(direction: Vertical, panes: [
                (size: "100%", pane: Pane(Property(content: [
                    (kind: Property(Status(StateV2(playing_label: " Playing   ", paused_label: " Paused   ", stopped_label: " Stopped   "))),style: (fg: "{{colors.primary.default.hex}}")),
                    (kind: Property(Widget(ScanStatus)), style: (fg: "{{colors.on_surface.default.hex}}", modifiers: "Bold"))
                ], align: Left))),
                            (size: "100%", pane: Pane(Property(content: [
                                            (kind: Text(" ")),
                                            (kind: Property(Status(Elapsed)),style: (fg: "{{colors.on_surface.default.hex}}")),
                                            (kind: Text(" / "),style: (fg: "{{colors.on_surface.default.hex}}", modifiers: "Bold")),
                                            (kind: Property(Status(Duration)),style: (fg: "{{colors.on_surface.default.hex}}")),
                                            (kind: Text(" 󰪢"), style: (fg: "{{colors.secondary.default.hex}}")),
                                        ], align: Left))
                            ),
                        ])
                ),
                (size: "65%", pane: Split(direction: Vertical, panes: [
                            (size: "100%", pane: Pane(Property(content: [
                                            (kind: Property(Song(Title)), style: (fg: "{{colors.primary_fixed.default.hex}}",modifiers: "Bold"),
                                                default: (kind: Property(Song(Filename)), style: (fg: "{{colors.primary_fixed.default.hex}}",modifiers: "Bold")))
                                        ], align: Center))
                            ),
                            (size: "100%", pane: Pane(Property(content: [
                                            (kind: Property(Song(Artist)),
                                                default: (kind: Text("Unknown Artist"))),
                                            (kind: Text("  ")),
                                            (kind: Property(Song(Album)),
                                                default: (kind: Text("Unknown Album")))
                                        ], align: Center))
                            ),
                        ])
                ),
                (size: "18%", pane: Split(direction: Vertical, panes: [
                (size: "100%", pane: Pane(Property(content: [
                                (kind: Property(Status(RepeatV2(on_label: "", off_label: "",
                                                on_style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold"), off_style: (fg: "{{colors.outline.default.hex}}", modifiers: "Bold"))))),
                                (kind: Text("  "),style: (fg: "{{colors.tertiary.default.hex}}", modifiers: "Bold")),
                                (kind: Property(Status(RandomV2(on_label: "", off_label: "",
                                                on_style: (fg: "{{colors.secondary.default.hex}}", modifiers: "Bold"), off_style: (fg: "{{colors.outline.default.hex}}", modifiers: "Bold"))))),
                                (kind: Text("  "),style: (fg: "{{colors.tertiary.default.hex}}", modifiers: "Bold")),
                                (kind: Property(Status(ConsumeV2(on_label: "󰮯", off_label: "󰮯", oneshot_label: "󰮯 󰇊",
                                                on_style: (fg: "{{colors.tertiary.default.hex}}", modifiers: "Bold"), off_style: (fg: "{{colors.outline.default.hex}}", modifiers: "Bold"))))),
                                (kind: Text("  "),style: (fg: "{{colors.tertiary.default.hex}}", modifiers: "Bold")),
                                (kind: Property(Status(SingleV2(on_label: " ", off_label: " ", oneshot_label: "󰇊", off_oneshot_label: "󱅊",
                                                on_style: (fg: "{{colors.primary.default.hex}}", modifiers: "Bold"), off_style: (fg: "{{colors.outline.default.hex}}", modifiers: "Bold"))))),
                            ], align: Right))
                    ),
                ])
            ),
        ])
    },    
    layout: Split(
        direction: Vertical, panes: [
            (size: "2", pane: Pane(Tabs)),
            (size: "4", borders: "TOP | BOTTOM", pane: Component("custom-header")),
            (size: "100%", borders: "NONE", pane: Pane(TabContent)),
            (size: "3", borders: "TOP | BOTTOM", pane: Pane(ProgressBar)),
        ]),
    header: (rows: []),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
    lyrics: (
        timestamp: false
    )
)
